header {
    border: 5px;
    text-align: center;
    border-color: beige;
    border-style: solid;
    font-size: 30px;
    color: white;
}
button {
    color: white;
    background-color: black;
    border-style: solid;
    border: 2px;
    
}

#gifDump {
    float: left;
    
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#searchButton {
    position: relative;
    display: block;
    align-items: center;
}